// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

// Typography Variables
$font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: 'Roboto Condensed', sans-serif;
$heading-font-weight: 500;
$base-font-size: 106.25;
@import "typography";
@import "utilities";

$breakpoint-xs: 768px;

:root {
    --body-font: #{$font-family};
    --heading-font: #{$heading-font-family};
    --layout-border-color: #e2e7ef;

    --body-background: #eff4fa;
    --body-color: #53575d;

    --header-height: 3rem;
    --header-background: white;
    --header-box-shadow: 2px 0 8px 1px var(--layout-border-color);
    --header-mobile-box-shadow: 2px 0 12px 3px var(--layout-border-color);

    --brand-panel-background: white;
    --brand-panel-color: var(--body-color);
    --brand-panel-right-border: 1px solid var(--layout-border-color);

    --menu-toggle-right-border: var(--brand-panel-right-border);

    --sidebar-width: 13rem;
    --sidebar-background: white;
    --sidebar-top-border: 1px solid var(--layout-border-color);

    --main-content-box-shadow: inset 2px 0 12px 3px var(--layout-border-color);
    --main-content-box-shadow: inset 2px 0 12px 3px var(--layout-border-color);
    --main-content-x-padding: 1.6rem;
    --main-content-y-padding: 1.6rem;
    --main-content-mobile-x-padding: 1.6rem;
    --main-content-mobile-y-padding: 0.8rem;

    --main-nav-text-color: #58687d;
    --main-nav-hover-bg: #f5f9fc;
    --main-nav-left-padding: 1.25rem;
    --main-nav-right-padding: 1rem;
    --main-nav-y-padding: 0.4rem;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--body-background);
    color: var(--body-color);
}

.transitions-off {
    transition: none !important;
}

._laravel-admin {
    &.page-wrapper {
        width: 100%;
        height: 100vh;
    }

    p { max-width: none; }

    .main-header {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 2000;
        height: var(--header-height);
        background: var(--header-background);
        box-shadow: var(--header-box-shadow);

        .brand-panel {
            flex: 0 0 var(--sidebar-width);
            background: var(--brand-panel-background);
            z-index: 4000;

            img {
                max-height: calc(var(--header-height) - 1rem);
                max-width: 90%;
                margin: 0;
            }
        }

        div.show-search {
            display: none;
        }

        button.menu-toggle, button.show-search {
            display: none;
            @include clearAppearance;
            width: var(--header-height);
            color: #333;

            i.fa.close-menu {
                display: none;
            }

            &.is-active {
                i.fa.open-menu {
                    display: none;
                }
                i.fa.close-menu {
                    display: inline;
                }
            }

            &:focus {
                outline: none;
            }
            &:hover, &.is-active {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        button.menu-toggle {
            border-right: var(--menu-toggle-right-border);
        }
        button.show-search {
            border-left: var(--menu-toggle-right-border);
        }

        .header-content {
            flex: 1 1 auto;
            display: flex;
            align-items: center;

            .notifications-area {
                flex: 1 1 auto;
                align-self: stretch;
                text-align: right;
                @include no-select;
            }
        }
    }

    .main-sidebar {
        position: fixed;
        top: var(--header-height);
        left: 0;
        z-index: 3000;
        height: calc(100vh - var(--header-height));
        width: var(--sidebar-width);
        background: var(--sidebar-background);
        border-top: var(--sidebar-top-border);
    }

    .main-content {
        padding-top: var(--header-height);
        padding-left: var(--sidebar-width);
        z-index: 1000;

        .inner-content {
            @include padding(1);
            box-shadow: var(--main-content-box-shadow);
            min-height: calc(100vh - var(--header-height));
        }
    }
}

.brand-panel {
    line-height: var(--header-height);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    color: var(--brand-panel-color);

    @include no-select;
}

._laravel-admin .main-navigation {

    .menu-title {
        font-weight: 500;
        font-size: 0.65rem;
        color: #bfbfbf;
        letter-spacing: 0.5px;
        padding-left: 1.25rem;
        line-height: 1;
        margin: 0.75rem 0;
        text-transform: uppercase;
        @include no-select;
    }

    ul {
        margin: 0;
        padding: 0;

        li {

            button {
                @include clearAppearance;
                width: 100%;
                text-align: left;
                cursor: pointer;
            }

            a, button {
                display: block;
                position: relative;
                font-size: 0.9rem;
                padding: var(--main-nav-y-padding) var(--main-nav-right-padding) var(--main-nav-y-padding) var(--main-nav-left-padding);
                border-bottom: 1px solid var(--layout-border-color, whitesmoke);
                color: var(--main-nav-text-color);
                transition: 0.2s ease all;
                @include no-select;

                .menu-icon {
                    font-size: 0.8em;
                    margin-right: 0.5rem;
                }

                .children-indicator {
                    position: absolute;
                    display: inline;
                    top: 50%;
                    right: var(--main-nav-right-padding);
                    transform: translateY(-50%);
                    font-size: 0.75em;
                    color: #bbbec5;
                    transition: 0.2s ease all;
                }

                .counter {
                    position: absolute;
                    display: block;
                    top: 50%;
                    right: var(--main-nav-right-padding);
                    transform: translateY(-50%);
                    background: #eff4fa;
                    color: #97a7b6;
                    min-width: 1.3rem;
                    height: 1.3rem;
                    text-align: center;
                    font-size: 0.7rem;
                    line-height: 1.4rem;
                    border-radius: 0.2rem;
                    transition: 0.2s ease all;
                    padding: 0 0.25rem;
                }

                .children-indicator + .counter {
                    right: calc(var(--main-nav-right-padding) * 2 + 0.5rem);
                }
            }

            &.active, &:hover {
                a, button {
                    text-decoration: none;
                    background: var(--main-nav-hover-bg);

                    .counter {
                        background: white;
                    }
                }
            }
        }

        // Second level
        li ul {
            display: none;
            padding-left: 0.6em;
            background: var(--main-nav-hover-bg);
            padding-top: calc(var(--main-nav-y-padding) / 2);
            padding-bottom: calc(var(--main-nav-y-padding) / 2);

            li {
                list-style-type: none;

                &:hover > a {
                    text-decoration: underline;
                }
            }

            li a {
                font-size: 0.8rem;
                border: none;
                padding-top: calc(var(--main-nav-y-padding) / 2);
                padding-bottom: calc(var(--main-nav-y-padding) / 2);
            }
        }

        li.active {
            & > a > .children-indicator {
                transform-origin: center;
                transform: translateY(-50%) rotate(180deg);
            }

            & > ul {
                display: block;
            }
        }
    }

    & > ul {
        border-top: 1px solid var(--layout-border-color, whitesmoke);
    }

    & > ul > li > ul {
        border-bottom: 1px solid var(--layout-border-color, whitesmoke);
    }

    .mobile-account-menu {
        display: none;
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    10% { transform: scale(1.35); }
    20% { transform: scale(1.15); }
    30% { transform: scale(1.35); }
    40% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes pulse-border {
    0% { box-shadow: 0 0 0 0px red; }
    20% { box-shadow: 0 0 8px 0px red; }
    40% { box-shadow: 0 0 16px 0px rgba(255, 0, 0, 0); }
    41% { box-shadow: 0 0 0 0px red; }
    100% { box-shadow: 0 0 0 0px red; }
}

._laravel-admin .notifications-area {
    padding-right: 1rem;

    .notifications-dropdown {
        display: inline-block;
        position: relative;

        &.has-unread::after {
            content: '';
            display: block;
            width: 0.4rem;
            height: 0.4rem;
            background: #e36060;
            border-radius: 50%;
            position: absolute;
            top: 30%;
            left: 60%;
            animation: pulse 2s infinite;
        }

        button {
            @include clearAppearance;
            height: var(--header-height);
            width: var(--header-height);
            cursor: pointer;
            color: var(--main-nav-text-color);
            transition: 0.2s ease all;

            &:focus {
                outline: none;
            }
        }

        &.is-active button, & button:hover {
            background: var(--main-nav-hover-bg);
        }

        .dropdown-content {
            position: absolute;
            display: none;
            flex-direction: column;
            background: white;
            top: 100%;
            right: 0;
            width: 16rem;
            max-height: 20rem;
            text-align: left;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

            .title, .footer {
                font-size: 0.75rem;
                border-bottom: 1px solid var(--layout-border-color);
                border-top: 1px solid var(--layout-border-color);
                text-align: center;
            }

            .title {
                background: var(--main-nav-hover-bg);
                text-transform: uppercase;
                font-weight: bold;
                padding: 0.6rem 0.5rem;
            }

            .footer {
                background: rgba(0, 0, 0, 0.05);

                a {
                    display: block;
                    padding: 0.6rem 0.5rem;
                    color: #333;
                }
            }

            .body {
                overflow: auto;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;

                        a, div {
                            display: block;
                            border-bottom: 1px solid var(--layout-border-color);
                            font-size: 0.8rem;
                            padding: 0.5rem 1rem;
                            color: #909090;
                        }

                        &:last-child a {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        &.is-active .dropdown-content {
            display: flex;
        }
    }
}

._laravel-admin .content-panel {
    @include margin-bottom(1);
}

@media screen and (max-width: $breakpoint-xs)
{
    :root {
        --main-nav-y-padding: 0.75rem;
    }

    ._laravel-admin .main-header {
        z-index: 4000;
        box-shadow: var(--header-mobile-box-shadow);

        div.show-search {
            width: var(--header-height);
        }

        button.menu-toggle, button.show-search {
            display: inline;
            align-self: stretch;
        }

        .la_header-search-form {
            position: absolute;
            top: 100%;
            right: -100%;
            background: white;
            width: 100%;
            padding: 1rem 2rem;
            border-top: 1px solid #e2e7ef;
            border-bottom: 1px solid #e2e7ef;
            transition: 0.3s ease all;

            .search-input {
                width: 100%;
            }

            &.open {
                right: 0;
            }
        }
    }

    ._laravel-admin .main-header .brand-panel {
        flex: 1 1 auto;
    }

    ._laravel-admin .main-header .header-content {
        display: none;
    }

    ._laravel-admin .main-sidebar {
        width: calc(100% - var(--header-height));
        left: -100%;
        box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease all;

        &.open {
            left: 0;
        }

        &::after {
            content: '';
        }
    }

    ._laravel-admin .main-content {
        padding-left: 0;

        .inner-content {
            box-shadow: none;
            @include padding(0.75, 0.5);
        }
    }

    ._laravel-admin .main-navigation .mobile-account-menu {
        display: block;
    }
}
