@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
article,
ul,
ol,
dl,
img {
  line-height: 1.6rem;
  margin-bottom: 27.2px;
  margin-bottom: 1.6rem;
  margin-top: 0px;
  margin-top: 0rem;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 106.25%;
  color: #333;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.4rem;
  margin-top: 81.6px;
  margin-top: 4.8rem;
  margin-bottom: 27.2px;
  margin-bottom: 1.6rem;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 54.4px;
  margin-top: 3.2rem;
  margin-bottom: 27.2px;
  margin-bottom: 1.6rem;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.4rem;
  margin-top: 27.2px;
  margin-top: 1.6rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 27.2px;
  margin-top: 1.6rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 27.2px;
  margin-top: 1.6rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 27.2px;
  margin-top: 1.6rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

p {
  line-height: 1.6rem;
  margin-bottom: 27.2px;
  margin-bottom: 1.6rem;
  margin-top: 0px;
  margin-top: 0rem;
  max-width: 36rem;
}

blockquote p {
  text-indent: -0.5em;
}

ul,
ol {
  list-style-position: outside;
}

:root {
  --blue: #446fd4;
  --red: #e36060;
  --text-select-background: var(--brand-color, blue);
  --text-select-color: white;
  --body-background: #eff4fa;
  --body-color: #53575D;
  --icon-color: #58687D;
  --light-grey: #F5F9FC;
  --brand-color: #e36060;
  --layout-border-color: #e2e7ef;
  --header-height: 3rem;
  --header-background: white;
  --header-box-shadow: 2px 0 8px 1px var(--layout-border-color);
  --header-z-index: 2000;
  --brand-panel-background: white;
  --brand-panel-color: var(--body-color);
  --brand-panel-rb-width: 1px;
  --brand-panel-rb-type: solid;
  --brand-panel-rb-color: var(--layout-border-color);
  --brand-panel-right-border: none;
  --menu-toggle-right-border: var(--brand-panel-rb-width) var(--brand-panel-rb-type) var(--brand-panel-rb-color);
  --sidebar-width: 13rem;
  --sidebar-background: white;
  --sidebar-top-border: 1px solid var(--layout-border-color);
  --sidebar-box-shadow: none;
  --main-content-box-shadow: inset 2px 0 12px 3px var(--layout-border-color);
  --main-content-x-padding: 1.6rem;
  --main-content-y-padding: 1.6rem;
}

._laravel-admin .main-navigation {
  --title-font-size: 0.65rem;
  --title-font-weight: 500;
  --title-color: #BFBFBF;
  --title-letter-spacing: 0.5px;
  --title-padding-top: 0;
  --title-padding-right: 0;
  --title-padding-bottom: 0;
  --title-padding-left: 1.25rem;
  --title-padding: var(--title-padding-top) var(--title-padding-right) var(--title-padding-bottom) var(--title-padding-left);
  --title-line-height: 1;
  --title-margin-top: 0.75rem;
  --title-margin-right: 0;
  --title-margin-bottom: 0.75rem;
  --title-margin-left: 0;
  --title-margin: var(--title-margin-top) var(--title-margin-right) var(--title-margin-bottom) var(--title-margin-left);
  --title-text-transform: uppercase;
  --link-font-size: 0.9rem;
  --link-top-padding: 0.4rem;
  --link-right-padding: 1rem;
  --link-bottom-padding: 0.4rem;
  --link-left-padding: 1.25rem;
  --link-padding: var(--link-top-padding) var(--link-right-padding) var(--link-bottom-padding) var(--link-left-padding);
  --link-transition: 0.2s ease all;
  --link-color: var(--icon-color);
  --link-background-color: transparent;
  --link-border-bottom: 1px solid var(--layout-border-color);
  --link-child-icon-color: #BBBEC5;
  --link-hover-background-color: var(--light-grey);
  --link-hover-color: inherit;
  --link-hover-text-decoration: none;
  --link-icon-font-size: 0.8em;
  --link-icon-margin-right: 0.5rem;
  --link-counter-background-color: #EFF4FA;
  --link-counter-color: #97A7B6;
  --link-counter-size: 1.3rem;
  --link-counter-line-height: 1.4rem;
  --link-counter-font-size: calc(var(--link-counter-size) / 2);
  --link-counter-border-radius: 0.2rem;
  --link-counter-transition: 0.2s ease all;
  --link-counter-padding: 0 0.25rem;
  --link-hover-counter-background-color: white;
  --subnav-indent: 0.6em;
  --subnav-link-font-size: 0.8rem;
  --subnav-link-border: none;
  --subnav-link-padding-top: calc(var(--link-top-padding) / 2);
  --subnav-link-padding-bottom: calc(var(--link-bottom-padding) / 2);
  --subnav-link-hover-text-decoration: underline;
}

._laravel-admin .notifications-area .notifications-dropdown {
  --title-background: var(--light-grey);
  --title-text-transform: uppercase;
  --title-font-weight: bold;
  --title-padding: 0.6rem 0.5rem;
  --title-font-size: 0.75rem;
  --body-link-font-size: 0.8rem;
  --body-link-padding: 0.5rem 1rem;
  --body-link-color: #909090;
  --footer-font-size: var(--title-font-size);
  --footer-background-color: rgba(0, 0, 0, 0.05);
  --footer-padding: var(--title-padding);
  --footer-color: #333333;
}

.page-header {
  --padding: 1rem 2rem;
  --heading-font-size: 1.4rem;
  --breadcrumbs-font-size: 0.7rem;
  --breadcrumbs-spacing: 1rem;
  --breadcrumbs-color: #444444;
  --breadcrumbs-divider: '-';
  --breadcrumbs-transition: 0.2s ease all;
  --breadcrumbs-hover-color: inherit;
  --breadcrumbs-hover-text-decoration: none;
}

.la_account-dropdown {
  --menu-width: 11rem;
  --left-border: 1px solid #e2e7ef;
  --button-fontsize: 0.9rem;
  --button-vertical-padding: calc((var(--header-height) - var(--button-fontsize)) / 2);
  --button-horizontal-padding: 1rem;
  --button-line-height: 1;
  --button-margin: 0;
  --button-transition: 0.3s ease all;
  --button-hover-background: var(--light-grey);
  --dropdown-icon-font-size: 0.6rem;
  --dropdown-icon-margin: -3px 0 0 0.5rem;
  --dropdown-icon-color: #333333;
  --avatar-size: 1.8rem;
  --avatar-border-radius: 0.3rem;
  --avatar-border: 1px solid #DADADA;
  --dropdown-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  --dropdown-padding: 1rem 0;
  --dropdown-link-font-size: 0.9rem;
  --dropdown-link-color: #333333;
  --dropdown-link-padding: 0.5rem 1.5rem;
  --dropdown-link-line-height: 1;
  --dropdown-link-text-align: left;
  --dropdown-link-transition: 0.3s ease all;
  --dropdown-link-border: none;
  --dropdown-link-hover-background: rgba(0, 0, 0, 0.05);
  --dropdown-link-hover-text-decoration: none;
}

._laravel-admin .content-panel {
  --heading-font-size: 0.8rem;
  --heading-line-height: 1.5;
  --heading-x-padding: 1.5rem;
  --heading-y-padding: 0.75rem;
  --header-bottom-border: 1px solid var(--layout-border-color);
  --heading-text-transform: uppercase;
  --heading-font-weight: bold;
  --heading-letter-spacing: 0.5px;
  --font-size: 1rem;
  --background: white;
  --box-shadow: 0px 0 8px 1px var(--layout-border-color);
  --body-x-padding: 1.5rem;
  --body-y-padding: 1rem;
  --body-transition: 0.3s ease all;
  --action-button-font-size: 0.6rem;
  --action-button-font-weight: normal;
  --action-button-divider-border: 1px solid var(--layout-border-color);
  --action-button-transition: 0.3s ease all;
  --action-button-hover-background: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
  :root {
    --header-box-shadow: 2px 0 12px 3px var(--layout-border-color);
    --header-z-index: 4000;
    --brand-panel-right-border: none;
    --sidebar-box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.2);
    --main-content-x-padding: 1rem;
    --main-content-y-padding: 1rem;
  }
}

:root {
  --body-font: Roboto Condensed, sans-serif;
  --heading-font: Roboto Condensed, sans-serif;
}

.transitions-off {
  -webkit-transition: none !important;
  transition: none !important;
}

::-moz-selection {
  /* WebKit/Blink Browsers */
  background: var(--text-select-background);
  color: var(--text-select-color);
}

::selection {
  /* WebKit/Blink Browsers */
  background: var(--text-select-background);
  color: var(--text-select-color);
}

::-moz-selection {
  /* Gecko Browsers */
  background: var(--text-select-background);
  color: var(--text-select-color);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--body-background);
  color: var(--body-color);
}

._laravel-admin.page-wrapper {
  width: 100%;
  height: 100vh;
}

._laravel-admin p {
  max-width: none;
}

._laravel-admin .main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: var(--header-z-index);
  height: var(--header-height);
  background: var(--header-background);
  -webkit-box-shadow: var(--header-box-shadow);
          box-shadow: var(--header-box-shadow);
}

._laravel-admin .main-header .brand-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--sidebar-width);
          flex: 0 0 var(--sidebar-width);
  background: var(--brand-panel-background);
  border-right: var(--brand-panel-right-border);
  z-index: 4000;
}

._laravel-admin .main-header .brand-panel img {
  max-height: calc(var(--header-height) - 1rem);
  max-width: 90%;
  margin: 0;
}

._laravel-admin .main-header div.show-search {
  display: none;
}

._laravel-admin .main-header button.menu-toggle,
._laravel-admin .main-header button.show-search {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  width: var(--header-height);
  color: #333;
}

._laravel-admin .main-header button.menu-toggle i.fa.close-menu,
._laravel-admin .main-header button.show-search i.fa.close-menu {
  display: none;
}

._laravel-admin .main-header button.menu-toggle.is-active i.fa.open-menu,
._laravel-admin .main-header button.show-search.is-active i.fa.open-menu {
  display: none;
}

._laravel-admin .main-header button.menu-toggle.is-active i.fa.close-menu,
._laravel-admin .main-header button.show-search.is-active i.fa.close-menu {
  display: inline;
}

._laravel-admin .main-header button.menu-toggle:focus,
._laravel-admin .main-header button.show-search:focus {
  outline: none;
}

._laravel-admin .main-header button.menu-toggle:hover,
._laravel-admin .main-header button.menu-toggle.is-active,
._laravel-admin .main-header button.show-search:hover,
._laravel-admin .main-header button.show-search.is-active {
  background: rgba(0, 0, 0, 0.1);
}

._laravel-admin .main-header button.menu-toggle {
  border-right: var(--menu-toggle-right-border);
}

._laravel-admin .main-header button.show-search {
  border-left: var(--menu-toggle-right-border);
}

._laravel-admin .main-header .header-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._laravel-admin .main-header .header-content .notifications-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: right;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

._laravel-admin .main-sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 3000;
  height: calc(100vh - var(--header-height));
  width: var(--sidebar-width);
  background: var(--sidebar-background);
  border-top: var(--sidebar-top-border);
  -webkit-box-shadow: var(--sidebar-box-shadow);
          box-shadow: var(--sidebar-box-shadow);
}

._laravel-admin .main-content {
  padding-top: var(--header-height);
  padding-left: var(--sidebar-width);
  z-index: 1000;
}

._laravel-admin .main-content .inner-content {
  padding: var(--main-content-y-padding) var(--main-content-x-padding);
  -webkit-box-shadow: var(--main-content-box-shadow);
          box-shadow: var(--main-content-box-shadow);
  min-height: calc(100vh - var(--header-height));
}

._laravel-admin .main-content .inner-content .container-fluid {
  padding: 0;
}

.brand-panel {
  line-height: var(--header-height);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  color: var(--brand-panel-color);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

._laravel-admin .main-navigation .menu-title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
  letter-spacing: var(--title-letter-spacing);
  padding: var(--title-padding);
  line-height: var(--title-line-height);
  margin: var(--title-margin);
  text-transform: var(--title-text-transform);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

._laravel-admin .main-navigation ul {
  margin: 0;
  padding: 0;
}

._laravel-admin .main-navigation ul li button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

._laravel-admin .main-navigation ul li a,
._laravel-admin .main-navigation ul li button {
  display: block;
  position: relative;
  font-size: var(--link-font-size);
  padding: var(--link-padding);
  color: var(--link-color);
  -webkit-transition: var(--link-transition);
  transition: var(--link-transition);
  background: var(--link-background-color);
  border-bottom: var(--link-border-bottom);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

._laravel-admin .main-navigation ul li a .menu-icon,
._laravel-admin .main-navigation ul li button .menu-icon {
  font-size: var(--link-icon-font-size);
  margin-right: var(--link-icon-margin-right);
}

._laravel-admin .main-navigation ul li a .children-indicator,
._laravel-admin .main-navigation ul li button .children-indicator {
  position: absolute;
  display: inline;
  top: 50%;
  right: var(--link-right-padding);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.75em;
  color: var(--link-child-icon-color);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

._laravel-admin .main-navigation ul li a .counter,
._laravel-admin .main-navigation ul li button .counter {
  position: absolute;
  display: block;
  top: 50%;
  right: var(--link-right-padding);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  background: var(--link-counter-background-color);
  color: var(--link-counter-color);
  min-width: var(--link-counter-size);
  height: var(--link-counter-size);
  font-size: var(--link-counter-font-size);
  line-height: var(--link-counter-line-height);
  border-radius: var(--link-counter-border-radius);
  -webkit-transition: var(--link-counter-transition);
  transition: var(--link-counter-transition);
  padding: var(--link-counter-padding);
}

._laravel-admin .main-navigation ul li a .children-indicator + .counter,
._laravel-admin .main-navigation ul li button .children-indicator + .counter {
  right: calc(var(--link-right-padding) * 2 + 0.5rem);
}

._laravel-admin .main-navigation ul li.active a,
._laravel-admin .main-navigation ul li.active button,
._laravel-admin .main-navigation ul li:hover a,
._laravel-admin .main-navigation ul li:hover button {
  text-decoration: none;
  background: var(--link-hover-background-color);
  color: var(--link-hover-color);
  -webkit-text-decoration: var(--link-hover-text-decoration);
          text-decoration: var(--link-hover-text-decoration);
}

._laravel-admin .main-navigation ul li.active a .counter,
._laravel-admin .main-navigation ul li.active button .counter,
._laravel-admin .main-navigation ul li:hover a .counter,
._laravel-admin .main-navigation ul li:hover button .counter {
  background: var(--link-hover-counter-background-color);
}

._laravel-admin .main-navigation ul li ul {
  display: none;
  padding-left: var(--subnav-indent);
  background: var(--link-hover-background-color);
  padding-top: calc(var(--link-top-padding) / 2);
  padding-bottom: calc(var(--link-bottom-padding) / 2);
}

._laravel-admin .main-navigation ul li ul li {
  list-style-type: none;
}

._laravel-admin .main-navigation ul li ul li:hover > a {
  -webkit-text-decoration: var(--subnav-link-hover-text-decoration);
          text-decoration: var(--subnav-link-hover-text-decoration);
}

._laravel-admin .main-navigation ul li ul li a {
  font-size: var(--subnav-link-font-size);
  border: var(--subnav-link-border);
  padding-top: var(--subnav-link-padding-top);
  padding-bottom: var(--subnav-link-padding-bottom);
}

._laravel-admin .main-navigation ul li.active > a > .children-indicator {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

._laravel-admin .main-navigation ul li.active > ul {
  display: block;
}

._laravel-admin .main-navigation > ul {
  border-top: 1px solid var(--layout-border-color, whitesmoke);
}

._laravel-admin .main-navigation > ul > li > ul {
  border-bottom: 1px solid var(--layout-border-color, whitesmoke);
}

._laravel-admin .main-navigation .mobile-account-menu {
  display: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  30% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  10% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  20% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }

  30% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }

  20% {
    -webkit-box-shadow: 0 0 8px 0px red;
            box-shadow: 0 0 8px 0px red;
  }

  40% {
    -webkit-box-shadow: 0 0 16px 0px rgba(255, 0, 0, 0);
            box-shadow: 0 0 16px 0px rgba(255, 0, 0, 0);
  }

  41% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }

  20% {
    -webkit-box-shadow: 0 0 8px 0px red;
            box-shadow: 0 0 8px 0px red;
  }

  40% {
    -webkit-box-shadow: 0 0 16px 0px rgba(255, 0, 0, 0);
            box-shadow: 0 0 16px 0px rgba(255, 0, 0, 0);
  }

  41% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }

  100% {
    -webkit-box-shadow: 0 0 0 0px red;
            box-shadow: 0 0 0 0px red;
  }
}

._laravel-admin .notifications-area {
  padding-right: 1rem;
}

._laravel-admin .notifications-area .notifications-dropdown {
  display: inline-block;
  position: relative;
}

._laravel-admin .notifications-area .notifications-dropdown.has-unread::after {
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  background: var(--brand-color);
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 60%;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

._laravel-admin .notifications-area .notifications-dropdown button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  height: var(--header-height);
  width: var(--header-height);
  color: var(--icon-color);
  cursor: pointer;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

._laravel-admin .notifications-area .notifications-dropdown button:focus {
  outline: none;
}

._laravel-admin .notifications-area .notifications-dropdown.is-active button,
._laravel-admin .notifications-area .notifications-dropdown button:hover {
  background: var(--main-nav-hover-bg);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  top: 100%;
  right: 0;
  width: 16rem;
  max-height: 20rem;
  text-align: left;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .title,
._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .footer {
  border-bottom: 1px solid var(--layout-border-color);
  border-top: 1px solid var(--layout-border-color);
  text-align: center;
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .title {
  font-size: var(--title-font-size);
  background: var(--title-background);
  text-transform: var(--title-text-transform);
  font-weight: var(--title-font-weight);
  padding: var(--title-padding);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .footer {
  font-size: var(--footer-font-size);
  background: var(--footer-background-color);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .footer a {
  display: block;
  padding: var(--footer-padding);
  color: var(--footer-color);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body {
  overflow: auto;
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body ul {
  margin: 0;
  padding: 0;
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body ul li {
  list-style-type: none;
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body ul li a,
._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body ul li div {
  display: block;
  border-bottom: 1px solid var(--layout-border-color);
  font-size: var(--body-link-font-size);
  padding: var(--body-link-padding);
  color: var(--body-link-color);
}

._laravel-admin .notifications-area .notifications-dropdown .dropdown-content .body ul li:last-child a {
  border-bottom: none;
}

._laravel-admin .notifications-area .notifications-dropdown.is-active .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._laravel-admin .content-panel {
  margin-bottom: 27.2px;
  margin-bottom: 1.6rem;
}

.table-sm td,
.table-sm th {
  padding: .5rem .75rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #f3f4f5;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #f6faff;
  padding: var(--padding);
}

.page-header .left,
.page-header .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-header .right {
  text-align: right;
}

.page-header::after {
  position: absolute;
  content: '';
  background: transparent;
  height: 100%;
  width: 2rem;
  top: -5px;
  left: -2rem;
  -webkit-box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.05);
}

.page-header h1 {
  margin: 0;
  font-size: var(--heading-font-size);
}

.page-header .breadcrumbs {
  margin: 0;
  padding: 0;
}

.page-header .breadcrumbs li {
  display: inline;
  list-style-icon: none;
}

.page-header .breadcrumbs li a {
  position: relative;
  font-size: var(--breadcrumbs-font-size);
  margin-right: calc(var(--breadcrumbs-spacing) / 2);
  margin-left: calc(var(--breadcrumbs-spacing) / 2);
  color: var(--breadcrumbs-color);
  -webkit-transition: var(--breadcrumbs-transition);
  transition: var(--breadcrumbs-transition);
}

.page-header .breadcrumbs li a::after {
  content: var(--breadcrumbs-divider);
  position: absolute;
  top: 50%;
  left: calc(100% + calc(var(--breadcrumbs-spacing) / 2));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-header .breadcrumbs li a:hover {
  color: var(--breadcrumbs-hover-color);
  -webkit-text-decoration: var(--breadcrumbs-hover-text-decoration);
          text-decoration: var(--breadcrumbs-hover-text-decoration);
}

.page-header .breadcrumbs li:first-child > a {
  margin-left: 0;
}

.page-header .breadcrumbs li:last-child > a {
  margin-right: 0;
}

.page-header .breadcrumbs li:last-child a::after {
  display: none;
}

._laravel-admin .content-panel {
  background: var(--background);
  font-size: var(--font-size);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

._laravel-admin .content-panel .body {
  padding: 0 var(--body-x-padding);
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: var(--body-transition);
  transition: var(--body-transition);
}

._laravel-admin .content-panel .body.is-open {
  padding: var(--body-y-padding) var(--body-x-padding);
  max-height: none;
  overflow: auto;
}

._laravel-admin .content-panel .body .full-width {
  margin-left: calc(var(--body-x-padding) * -1);
  width: calc(100% + (var(--body-x-padding) * 2));
  border-left: none;
  border-right: none;
}

._laravel-admin .content-panel .body .full-width tr td:first-child,
._laravel-admin .content-panel .body .full-width tr th:first-child {
  padding-left: var(--body-x-padding);
  border-left: none;
}

._laravel-admin .content-panel .body .full-width tr td:last-child,
._laravel-admin .content-panel .body .full-width tr th:last-child {
  padding-right: var(--body-x-padding);
  border-right: none;
}

._laravel-admin .content-panel .body .full-width tr td.actions {
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

._laravel-admin .content-panel .body .full-width tr td.actions a {
  color: grey;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

._laravel-admin .content-panel .body .full-width tr td.actions a:hover {
  color: var(--blue);
}

._laravel-admin .content-panel .body .full-width tr td.actions a.danger:hover {
  color: var(--red);
}

._laravel-admin .content-panel .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: var(--header-bottom-border);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

._laravel-admin .content-panel .header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: var(--heading-y-padding) var(--heading-x-padding);
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  text-transform: var(--heading-text-transform);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
}

._laravel-admin .content-panel button.action {
  height: 100%;
  width: calc((var(--heading-font-size) * var(--heading-line-height)) + (var(--heading-y-padding) * 2));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  font-size: var(--action-button-font-size);
  font-weight: var(--action-button-font-weight);
  border-left: var(--action-button-divider-border);
  cursor: pointer;
  -webkit-transition: var(--action-button-transition);
  transition: var(--action-button-transition);
}

._laravel-admin .content-panel button.action:focus {
  outline: none;
}

._laravel-admin .content-panel button.action:hover {
  background: var(--action-button-hover-background);
}

@media screen and (max-width: 768px) {
  :root {
    --main-nav-y-padding: 0.75rem;
  }

  ._laravel-admin .main-header div.show-search {
    width: var(--header-height);
  }

  ._laravel-admin .main-header button.menu-toggle,
  ._laravel-admin .main-header button.show-search {
    display: inline;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  ._laravel-admin .main-header .la_header-search-form {
    position: absolute;
    top: 100%;
    right: -100%;
    background: white;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid #e2e7ef;
    border-bottom: 1px solid #e2e7ef;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  ._laravel-admin .main-header .la_header-search-form .search-input {
    width: 100%;
  }

  ._laravel-admin .main-header .la_header-search-form.open {
    right: 0;
  }

  ._laravel-admin .main-header .brand-panel {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  ._laravel-admin .main-header .header-content {
    display: none;
  }

  ._laravel-admin .main-sidebar {
    width: calc(100% - var(--header-height));
    left: -100%;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }

  ._laravel-admin .main-sidebar.open {
    left: 0;
  }

  ._laravel-admin .main-sidebar::after {
    content: '';
  }

  ._laravel-admin .main-content {
    padding-left: 0;
  }

  ._laravel-admin .main-content .inner-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  ._laravel-admin .main-content .inner-content .row {
    margin-left: calc(var(main-content-x-padding) * -1);
    margin-right: calc(var(main-content-x-padding) * -1);
  }

  ._laravel-admin .main-navigation .mobile-account-menu {
    display: block;
  }
}

.btn .fa {
  font-size: 0.9em;
  margin-right: 0.25rem;
}

